language: cpp

addons:
  apt_packages:
    - libgl1-mesa-dev
    - xorg-dev
    - libxcb-render-util0-dev
    - libxcb-xkb-dev
    - libxcb-icccm4-dev
    - libudev-dev
    - libfreetype6-dev
    - libxcb-image0-dev
    - libxcb-keysyms1-dev
    - libxcb-xinerama0-dev

before_script:
- mkdir build && cd build
- conan --version
- conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
- conan install .. -s build_type=${CONFIG} --build missing
- cmake .. -DCMAKE_BUILD_TYPE=${CONFIG} -DUNIT_TEST=ON

script:
- cmake --build .
- ctest -VV -C ${CONFIG} --schedule-random --output-on-failure

matrix:
  include:

  # - name: "macOS Xcode 10 Debug"
  #   os: osx
  #   compiler: clang
  #   osx_image: xcode10
  #   install:
  #     - pip install conan
  #   env:
  #     - CONFIG=Debug

  # - name: "macOS Xcode 10 Release"
  #   os: osx
  #   compiler: clang
  #   osx_image: xcode10
  #   install:
  #     - pip install conan
  #   env:
  #     - CONFIG=Release

  - name: "Linux gcc Debug"
    os: linux
    dist: bionic
    compiler: gcc
    before_install:
      - echo $DISPLAY
      - "export DISPLAY=:99.0"
    install:
      - pip install conan
    env:
      - CONFIG=Debug

  # - name: "Linux gcc Release"
  #   os: linux
  #   dist: bionic
  #   compiler: gcc
  #   before_install:
  #     - "export DISPLAY=:99.0"
  #   install:
  #     - pip install conan
  #   env:
  #     - CONFIG=Release

notifications:
  email: false

